<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BreakpadProduct</key>
	<string>Chromium Embedded Framework_Mac</string>
	<key>BreakpadProductDisplay</key>
	<string>Chromium Embedded Framework</string>
	<key>BreakpadReportInterval</key>
	<string>3600</string>
	<key>BreakpadSendAndExit</key>
	<string>YES</string>
	<key>BreakpadSkipConfirm</key>
	<string>YES</string>
	<key>BreakpadURL</key>
	<string>none</string>
	<key>BreakpadVersion</key>
	<string>39.0.2171.65</string>
	<key>BuildMachineOSBuild</key>
	<string>13F34</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>Chromium Embedded Framework</string>
	<key>CFBundleIdentifier</key>
	<string>org.chromium.ContentShell.framework</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>39.0.2171.65</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2171.65</string>
	<key>DTSDKBuild</key>
	<string>12F37</string>
	<key>DTSDKName</key>
	<string>macosx10.8</string>
	<key>DTXcode</key>
	<string>0511</string>
	<key>DTXcodeBuild</key>
	<string>5B1008</string>
	<key>SCMRevision</key>
	<string>b853bfefba0da840f4574eb3b5c7ad6e9b8573b5</string>
</dict>
</plist>
